@import "tailwindcss";

/* added for Next.js */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@keyframes marchingAnts {
  to { stroke-dashoffset: -10; }
}
